.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  column-gap: 48px;
  
  max-width: $cardsPerColumn * $cardWidth
    + ($cardsPerColumn - 1) * $columnGap;

  &__card {
    margin-bottom: $rowGap;
  }
}
